html{
    width: 95%;
}
body{
    width: 95%;
    font-size: 1.2em;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
section{
    width: 70%;
}
h1, h2{
    color: #007e7e;
}
h1{
    font-size: 150%;
}
h2{
    font-size: 130%;
}
.centerCocktails{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
div>h1{
    color: black;
}
div>h2{
    color: red;
}
.specials{
    background-image: url("images/cocktail.gif");
    background-repeat: repeat;
    border-color: #a7cece;
    text-align: center;
    border-style: solid;
    margin: 0.5em;
}
.star{
    padding: 20px;
    color: #444444;
    background-color: #a7cece;
    border-color: white;
    border-style: dashed;
}
.bold{
    font-weight: bold;
}
footer{
    font-size: 50%;
    text-align: center;
}