body{
    background-color: lightgrey;
    font: 1.25em sans-serif;
    margin: 0px;
}
p{
    line-height: 1.25;
    margin: 0;
}
h2{
    margin-top: 0;
}
article{
    display: inline-block;
    border: black solid 5px;
    margin: 0 10px 10px;
    min-height: 240px;
}
article:nth-child(2n+1) img{
    float: left;
    margin: 0 10px 0 0;
}
article:nth-child(2n) img{
    float: right;
    margin: 0 10px 0 0;
}