
.kalender .title{
    background-color: rgb(170,170,200);
}
.kalender .header{
    color: rgb(200,190,240);
    background-color: rgb(35,37,70);
}
.kalender .vorigeMaand{
    background-color: darkgray !important;
    color: gray !important;
}
.kalender tr{
    background-color: rgb(250,120,120);
}
.kalender table tbody td:first-child
{
    background-color: rgb(255,220,220);
}
.kalender table tbody td:last-child
{
    background-color: rgb(255,220,220);
}